# LaTeX compilation output/temporary files
*.aux
*.bcf
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
build/

# Compiled presentation (optional to ignore, usually recommended to avoid Git bloat)
main.pdf

# macOS system files
.DS_Store
